**Pandas Tutorial**

Pandas is an open source, BSD-lisenced library providing high-performance, easy-to-use data structures and data analysis tools for the Python Programming language

In [2]:
import pandas as pd
import numpy as np

**Dataframes**

**index** to give row names

**columns** to give column names

In [3]:
df = pd.DataFrame(np.arange(0 , 20).reshape(5 , 4) , index = ['Row1' , 'Row2' , 'Row3' , 'Row4' , 'Row5'] , columns = ['Column1' , 'Column2' , 'Column3' , 'Column4'])

1. **head()** to get first few rows of dataframe

In [4]:
df.head()

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

2. **to_csv()** to convert the dataframe into a csv file

In [5]:
df.to_csv("Test1.csv")

3. Ways to access elements

i. **loc** specify loc[index] of which index is to be accessed

Only row index is to be mentioned

Output is in **series**

In [6]:
df.loc['Row1']

Column1    0
Column2    1
Column3    2
Column4    3
Name: Row1, dtype: int32

In [9]:
df.loc['Row3' : 'Row4']

      Column1  Column2  Column3  Column4
Row3        8        9       10       11
Row4       12       13       14       15

In [8]:
type(df.loc['Row3'])

pandas.core.series.Series

ii. **iloc** specify iloc[index , column] of which index is to be accessed

Both row index and column index is to be mentioned

If only 1 row output will be in **series**

If more than 1 row output will be in **Dataframe**

In [10]:
df.iloc[: , :]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [12]:
df.iloc[0:3 , 0:2]

      Column1  Column2
Row1        0        1
Row2        4        5
Row3        8        9

In [13]:
type(df.iloc[0:3 , 0:2])

pandas.core.frame.DataFrame

4. Convert dataframes into arrays using **values**

In [15]:
df.iloc[: , 1:].values

array([[ 1,  2,  3],
       [ 5,  6,  7],
       [ 9, 10, 11],
       [13, 14, 15],
       [17, 18, 19]])

In [16]:
df.iloc[: , 1:].values.shape

(5, 3)

5. **isnull().sum()** counts number of null values

In [17]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

6. **value_counts()** returns count of unique values in the column or table mentioned

In [18]:
df['Column1'].value_counts()

0     1
4     1
8     1
12    1
16    1
Name: Column1, dtype: int64

7. **unique()** returns the unique elements in a column in the form of an array

In [19]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

8. Access multiple columns

In [20]:
df[['Column1' , 'Column4']]

      Column1  Column4
Row1        0        3
Row2        4        7
Row3        8       11
Row4       12       15
Row5       16       19