Lists

A List is a data structure in Python that is a mutable, or changeable, ordered sequence of elements      

All the elements within the list need not be of the same datatype

Each element of value that is inside of a list is called an item.

Just as strings are defined as characters between quotes, lists are defined by having values between square brackets[]

1. Methods to create lists

i. Method 1

In [61]:
lst_example = []

In [62]:
type(lst_example)

list

In [63]:
lst_example = ['A' , 'B' , 1 , 2 , 'E']

In [64]:
type(lst_example)

list

In [65]:
lst_example

['A', 'B', 1, 2, 'E']

ii. Method 2

In [66]:
lst = list()

In [67]:
type(lst)

list

In [68]:
lst = list('CDEF76980')

In [69]:
lst

['C', 'D', 'E', 'F', '7', '6', '9', '8', '0']

In [70]:
type(lst)

list

2. Find length of a list

In [71]:
len(lst)

9

In [72]:
len(lst_example)

5

3. Append an object at the end of the list

In [73]:
lst.append('Ateeth')

In [74]:
lst

['C', 'D', 'E', 'F', '7', '6', '9', '8', '0', 'Ateeth']

In [75]:
lst_example.append("Arun")

In [76]:
lst_example

['A', 'B', 1, 2, 'E', 'Arun']

Append list into list thus creating nested list

In [77]:
lst_example.append(['Rekha' , 'Ithi' , 'Arun'])

In [78]:
lst_example

['A', 'B', 1, 2, 'E', 'Arun', ['Rekha', 'Ithi', 'Arun']]

4. Indexing in List

In [79]:
lst_example[1]

'B'

In [80]:
lst_example[0]

'A'

In [81]:
lst_example[4]

'E'

In [82]:
lst_example[3]

2

In [83]:
lst_example[len(lst_example) - 1]

['Rekha', 'Ithi', 'Arun']

Prints element from index 1 till the end of the list

In [84]:
lst_example[1:]

['B', 1, 2, 'E', 'Arun', ['Rekha', 'Ithi', 'Arun']]

Prints element from index 1 till the index 4

give index 5 as end point as it will print till index 5 i.e index 4

In [85]:
lst_example[1:5]

['B', 1, 2, 'E']

5. Insert at a specific index 

use insert(position , value) function

In [86]:
lst

['C', 'D', 'E', 'F', '7', '6', '9', '8', '0', 'Ateeth']

In [87]:
lst.insert(3 , 'VIT')

In [88]:
lst

['C', 'D', 'E', 'VIT', 'F', '7', '6', '9', '8', '0', 'Ateeth']

6. Add multiple elements to end of the list using extend() function

In [89]:
lst_example

['A', 'B', 1, 2, 'E', 'Arun', ['Rekha', 'Ithi', 'Arun']]

In [91]:
lst_example.extend(['Udupi' , 'Ajjarkad'])

In [92]:
lst_example

['A', 'B', 1, 2, 'E', 'Arun', ['Rekha', 'Ithi', 'Arun'], 'Udupi', 'Ajjarkad']

Note the difference between append and extend

In [94]:
lst1 = []

In [95]:
lst1.append(['Rekha' , 'Ithi' , 'Arun'])

In [96]:
lst1

[['Rekha', 'Ithi', 'Arun']]

In [97]:
lst1.extend(['Rekha' , 'Ithi' , 'Arun'])

In [98]:
lst1

[['Rekha', 'Ithi', 'Arun'], 'Rekha', 'Ithi', 'Arun']

Note that append helps add another list making it a nested list but extends **does not create a nested list** but instead just adds multiple elements to the end of the list

7. Operations performed on a list

In [99]:
num = [1 , 2 , 3 , 4 , 5]

i) **sum()** to find the sum of all elements in the list

In [100]:
sum(num)

15

ii) **pop()** to remove last element in the list

In [101]:
num.pop()

5

In [102]:
num

[1, 2, 3, 4]

iii) **pop(index)** to remove a particular index element in a list

In [103]:
num.pop(0)

1

In [104]:
num

[2, 3, 4]

iv) **count(element)** to find number of occurences of element in the list

In [105]:
num = [1 , 2 , 2 , 1 , 2 , 5 , 7 , 1 , 9 , 5 , 4 , 1]

In [106]:
num

[1, 2, 2, 1, 2, 5, 7, 1, 9, 5, 4, 1]

In [107]:
num.count(1)

4

1 occurs 4 times in the list

In [108]:
num.count(4)

1

v) **len()** calculates length fo the list

In [109]:
len(num)

12

vi) **index(element)** helps return the index of first occurenect of element in the list

In [111]:
num

[1, 2, 2, 1, 2, 5, 7, 1, 9, 5, 4, 1]

In [110]:
num.index(5)

5

In [112]:
num.index(4)

10

In [113]:
num.index(1)

0

vii) **index(element,start,end)** looks for the elements within the start and end postitions and returns postion of first occurence

Not the end index **is not** includec within the search the search will be from start till **end - 1** index included

In [114]:
num

[1, 2, 2, 1, 2, 5, 7, 1, 9, 5, 4, 1]

In [116]:
num.index(4 , 1 , 10)

ValueError: 4 is not in list

In [117]:
num.index(4 , 8 , 11)

10

4 is looked from index 8 till 11(not including 11) and the first occurence of 4 in this range is at index 10 thus output is 10

In [118]:
num.index(1 , 7)

7

If no end parameter provided it will look till end of the list

viii) **min()** tells the minimum value in the list

In [119]:
min(num)

1

ix) **max()** tells the maximum value in the list

In [120]:
max(num)

9